.container{
    margin-bottom: 70px;
}
.text{
    text-align: center;
}

.card{
    border: 0px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 20px;
}
#asad{
    height: 100%;
    width: 100%;
}
.categorie_box {
    width: 150px;
    box-shadow: 5px 5px 10px lightgrey;
    padding: 15px 5px;
    border-radius: 10px;
    text-align: center;
}
